.autocomplete {
  position: relative;
  display: inline-block;
  width: 200px;

  .has-feedback {
    input[type="text"] {
      background-color: #f1f1f1;
      width: 100%;
    }

    #searchIcon {
      color: #3c8dbc;
    }
  }

  .autocomplete-items {
    width: 100%;
    float: right;
    position: absolute;
    // border: 1px solid #d4d4d4;
    // border-bottom: none;
    // border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
}
